{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Driver Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/script.js' %}"></script>

  </head>
  <body class="user_body">
<form class="user_login_form" action="{% url 'driver_dashboard' %}" method="GET">
    <label class="user_form_label" for="driver_id">Enter Driver ID:</label>
    <input class="user_form_input" type="text" id="driver_id" name="driver_id">
    <input class="user_form_submit" type="submit" value="Login">
</form>
</body>
</html>